body {
  padding-bottom: 5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid #000000;
  padding: 1em 0.75em;
}

th {
  background-color: #bfbfbf;
}

#delete-message {
  color: #00aa00;
  font-weight: bold;
  font-family: sans-serif;
  margin: 1em 0;
}

#filter {
  margin-bottom: 1em;
  width: 30%;
  padding: 0.25em 0.75em;
}